<template>
    <div class="menubar">
        <div class="left-menu"></div>
        <div class="right-menu">
          <router-link v-if="$route.name != 'settings-view'" :to="{name: 'settings-view'}"><i class="flaticon-settings-work-tool"></i></router-link>
          <router-link v-if="$route.name != 'timer-view'" :to="{name: 'timer-view'}"><i class="flaticon-chronometer"></i></router-link></div>

    </div>

</template>

<script>
export default {
  name: "MenuBar"
};
</script>


<style lang="scss">
.menubar {
  height: 40px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
  padding-left: 10px;

  i {
    &::before {
      color: white;
      font-size: 20px;
    }
  }

  i.flaticon-chronometer {
    &::before {
      color: white;
      font-size: 32px;
    }
  }
}
</style>
