<template>
<div class="view settings-view">
  <h1 class="title">Settings</h1>
  <div class="settings-section" v-if="timer">
    <div class="section-header">
    Timer Settings
    </div>
    <div class="settings-item settings-input">
    <label for="sprints">Number of Sprints</label>
    <input type="number" name="sprints" v-model="sprints" id="sprints">
    </div>
    <div class="settings-item settings-input">
    <label for="timer">Session Duration (Minutes)</label>
    <input type="number" name="timer" v-model="time" id="timer">
    </div>
    <div class="settings-item settings-input">
    <label>Short Break Duration (Minutes)</label>
    <input type="number" v-model="sBreak">
    </div>
    <div class="settings-item settings-input">
    <label>Long Break Duration (Minutes)</label>
    <input type="number" v-model="lBreak">
    </div>
  </div>
  <div class="settings-section">
    <div class="section-header">
    Sync Settings
    </div>
     <div class="settings-item" v-if="authData">
    <span>Logged In as</span><span>{{authData.displayName}}</span>
    </div>
    <div class="settings-item" v-if="!authData" v-on:click="login()">
    <span>Login</span><span></span>
    </div>
    <div class="settings-item" v-if="authData" v-on:click="logout()">
    <span>Logout</span><span></span>
    </div>
    <div class="settings-item" v-on:click="listDriveFiles()">
    <span>Get Data</span><span></span>
    </div>
    <div class="settings-item" v-on:click="syncData()">
    <span>Sync</span><span></span>
    </div>
    <div class="settings-item" v-on:click="clearData()">
    <span>Clear Local Data</span><span></span>
    </div>
  </div>
</div>
</template>


<script>
import { google } from "googleapis";
import { mapGetters, mapState } from "vuex";
import {
  LOGIN,
  REFRESH_TOKEN,
  SYNC_DATA,
  LOGOUT,
  CLEAR_DATA,
  CHANGE_SPRINT_TIME
} from "../store/actions.type";
import {
  UPDATE_SPRINTS,
  UPDATE_TIME,
  UPDATE_SBREAK,
  UPDATE_LBREAK
} from "../store/mutations.type";
import { GOOGLE_DRIVE_URL, oauth2Client } from "../utils/gapi.service";
import axios from "axios";
import { userDataDir } from "../store";
import fs from "fs";
import path from "path";

export default {
  name: "SettingsView",
  data() {
    return {
      driveData: {},
      timer: {}
    };
  },
  computed: {
    sprints: {
      get() {
        return this.$store.state.settings.settings.timer.sprints;
      },
      set(value) {
        this.$store.commit(UPDATE_SPRINTS, value);
      }
    },
    time: {
      get() {
        return this.$store.state.settings.settings.timer.time;
      },
      set(value) {
        this.$store.commit(UPDATE_TIME, value);
      }
    },
    sBreak: {
      get() {
        return this.$store.state.settings.settings.timer.sBreak;
      },
      set(value) {
        this.$store.commit(UPDATE_SBREAK, value);
      }
    },
    lBreak: {
      get() {
        return this.$store.state.settings.settings.timer.lBreak;
      },
      set(value) {
        this.$store.commit(UPDATE_LBREAK, value);
      }
    },
    ...mapGetters({
      authData: "gauth/authData",
      allTimeLogs: "allTimeLogs"
    })
  },
  methods: {
    login() {
      if (this.authData) {
        this.$store.dispatch(`gauth/${REFRESH_TOKEN}`);
      } else {
        this.$store.dispatch(`gauth/${LOGIN}`);
      }
    },
    logout() {
      this.$store.dispatch(`gauth/${LOGOUT}`);
    },
    syncData() {
      this.$store.dispatch(SYNC_DATA);
    },
    clearData() {
      this.$store.dispatch(CLEAR_DATA);
    },
    updateTimerSettings() {}
  },
  mounted() {
    console.log("TL", this.timerSettings);
  }
};
</script>


<style lang="scss">
.settings-view {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: white;
  width: 100vw;
  padding: 50px 10px;
  min-height: 100vh;
  overflow-y: scroll;

  .settings-section {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 15px;
    .section-header {
      font-size: 24px;
      margin-bottom: 5px;
    }

    .settings-item {
      width: 100%;
      display: flex;
      justify-content: space-between;
      background-color: #252525;
      padding: 0px 10px;
      margin-top: 5px;
      height: 40px;
      align-items: center;
      cursor: pointer;
    }

    .settings-input {
      background-color: initial;

      input {
        height: 100%;
        background-color: #303030;
        border: none;
        border-bottom: 2px solid #404040;
        color: white;
        font-size: 14px;
        text-align: right;
        padding-right: 8px;
      }
    }
  }
}
</style>
