<template>
  <div v-if="timerSettings.sprints" class="view timer-view">
    <div class="sprints">
      <div v-for="(sp, idx) in timerSettings.sprints" :class="{sprint: true, done: (done > idx)}" :key="'sp' + idx"></div>
    </div>
    <div class="clock">
      <div class="button" v-on:click="handleTimer()" :key="btnText">
        <div class="state">{{stateHeaders[state]}}</div>
        <div>{{(started) ? timeString(currentTime) : btnText }}</div>
        <div v-if="started && state == 'sprint'">Click to Give up</div>
      </div>
      <svg height="250" width="250">
        <path ref="clockx" fill="none" stroke="#446688" stroke-width="5" />
        <path ref="clocky" fill="none" stroke="#446688" stroke-width="5" />
      </svg>
    </div>
    <div class="status">
      <i :class="{'flaticon-runer-silhouette-running-fast': true, active: state == 'sprint'}"></i>
      <i :class="{'flaticon-coffee': true, active: state == 'break'}"></i>
      <i :class="{'flaticon-two-men-on-daily-job-break': true, active: state == 'lbreak'}"></i>
    </div>
    <div class="task">
      <input type="text" name="task" id="task" v-model="session.taskName">
    </div>
    <button class="record-button" v-on:click="handleRecordBtn()">Record</button>
  </div>
</template>


<script>
import { mapGetters } from "vuex";
import { ADD_SESSION_ENTRY, SYNC_DATA } from "../store/actions.type";

function polarToCartesian(centerX, centerY, radius, angleInDegrees) {
  var angleInRadians = ((angleInDegrees - 90) * Math.PI) / 180.0;

  return {
    x: centerX + radius * Math.cos(angleInRadians),
    y: centerY + radius * Math.sin(angleInRadians)
  };
}

function describeArc(x, y, radius, startAngle, endAngle) {
  var start = polarToCartesian(x, y, radius, endAngle);
  var end = polarToCartesian(x, y, radius, startAngle);

  var largeArcFlag = endAngle - startAngle <= 180 ? "0" : "1";
  var d = [
    "M",
    start.x,
    start.y,
    "A",
    radius,
    radius,
    0,
    largeArcFlag,
    0,
    end.x,
    end.y
  ].join(" ");
  return d;
}

const DEFAULT_SESSION_DATA = {
  sprintsAndBreaks: [],
  taskName: "Unnamed Task"
};

export default {
  name: "TimerView",
  data() {
    return {
      stateHeaders: {
        sprint: "Keep Focusing",
        lbreak: "Take a Long Break",
        break: "Take a Short Break"
      },
      session: JSON.parse(JSON.stringify(DEFAULT_SESSION_DATA)),
      done: 0,
      currentTime: 0,
      clock: null,
      started: false,
      paused: false,
      btnText: "Start",
      state: "sprint"
    };
  },
  computed: {
    ...mapGetters(["allTimeLogs", "timerSettings"]),
    step() {
      switch (this.state) {
        case "sprint":
          return 360 / (this.timerSettings.time * 60);
          break;
        case "break":
          return 360 / (this.timerSettings.sBreak * 60);
          break;
        case "lbreak":
          return 360 / (this.timerSettings.lBreak * 60);
          break;
      }
    }
  },
  watch: {
    currentTime(val) {
      let curArc = val * this.step;
      if (curArc > 180) {
        this.$refs.clockx.setAttribute("d", describeArc(125, 125, 120, 0, 180));
        this.$refs.clocky.setAttribute(
          "d",
          describeArc(125, 125, 120, 180, curArc)
        );
      } else {
        this.$refs.clockx.setAttribute(
          "d",
          describeArc(125, 125, 120, 0, curArc)
        );
        this.$refs.clocky.setAttribute(
          "d",
          describeArc(125, 125, 120, 180, 180)
        );
      }
    }
  },
  mounted() {
    this.resetArc();
    console.log(this.timerSettings);
  },
  methods: {
    timeString(time) {
      return `${this.padTime(Math.floor(time / 60))} : ${this.padTime(
        time % 60
      )}`;
    },
    resetArc() {
      this.$refs.clockx.setAttribute("d", describeArc(125, 125, 120, 0, 180));
      this.$refs.clocky.setAttribute("d", describeArc(125, 125, 120, 180, 360));
    },
    startTimer(time) {
      this.resetArc();
      this.currentTime = time * 60;
      this.clock = setInterval(() => this.countdown(), 1000);
      this.started = true;
    },
    stopTimer() {
      clearInterval(this.clock);
      this.clock = null;
      this.started = false;
    },
    resetTimer() {
      this.currentTime = this.timerSettings.time;
      clearInterval(this.clock);
      this.session = JSON.parse(JSON.stringify(DEFAULT_SESSION_DATA));
      this.clock = null;
      this.started = false;
    },
    padTime(time) {
      return (time < 10 ? "0" : "") + time;
    },
    countdown() {
      this.currentTime--;
      if (this.currentTime <= 0) {
        this.stopTimer();
        if (this.state == "sprint") {
          this.done = this.done + 1;
          this.session.sprintsAndBreaks.push({
            type: "sprint",
            time: this.timerSettings.time,
            state: "done"
          });
          if (this.done >= this.timerSettings.sprints) {
            let notif = new Notification("Break Time!", {
              body: "Take A Short Break!"
            });
            this.state = "lbreak";
            this.startTimer(this.timerSettings.lBreak);
          } else {
            this.state = "break";
            this.startTimer(this.timerSettings.sBreak);
          }
        } else {
          if (this.state == "break") {
            this.session.sprintsAndBreaks.push({
              type: "short_break",
              time: this.timerSettings.sBreak,
              state: "done"
            });
            let notif = new Notification("Work Time!", {
              body: "Focus On!"
            });
            this.state = "sprint";
            this.startTimer(this.timerSettings.time);
          } else {
            this.session.sprintsAndBreaks.push({
              type: "long_break",
              time: this.timerSettings.lBreak,
              state: "done"
            });
            this.state = "sprint";
            this.done = 0;
            this.startTimer(this.timerSettings.time);
            let notif = new Notification("Work Time!", {
              body: "Focus On!"
            });
          }
        }
      }
    },

    reset() {
      (this.session = JSON.parse(JSON.stringify(DEFAULT_SESSION_DATA))),
        (this.done = 0);
      this.currentTime = 0;
      this.clock = null;
      this.started = false;
      this.paused = false;
      this.btnText = "Start";
      this.state = "sprint";
    },

    handleRecordBtn() {
      if (this.state == "sprint") {
        this.stopTimer();
        this.session.sprintsAndBreaks.push({
          type: "sprint",
          time: this.timerSettings.time * 60 - this.currentTime,
          state: "staled"
        });
      } else {
        this.stopTimer();
      }
      this.$store.dispatch(ADD_SESSION_ENTRY, this.session);
      this.reset();
      this.$store.dispatch(SYNC_DATA);
    },
    handleTimer() {
      if (!this.started) {
        switch (this.state) {
          case "sprint":
            if (this.session.sprintsAndBreaks.length == 0) {
              this.session.startTime = new Date();
            }
            this.startTimer(this.timerSettings.time);
            break;
          case "break":
            this.startTimer(this.timerSettings.sBreak);
            break;
          case "lbreak":
            this.startTimer(this.timerSettings.lBreak);
            break;
        }
      } else {
        if (this.state == "sprint") {
          this.stopTimer();
          this.done = this.done + 1;
          this.session.sprintsAndBreaks.push({
            type: "sprint",
            time: this.timerSettings.time * 60 - this.currentTime,
            state: "staled"
          });
          if (this.done >= this.timerSettings.sprints) {
            this.state = "lbreak";
            this.startTimer(this.timerSettings.lBreak);
          } else {
            this.state = "break";
            this.startTimer(this.timerSettings.sBreak);
          }
        }
      }
    },
    getSpinnerStyle() {
      if (this.started) {
        return {
          border: "none"
        };
      } else {
        return {
          border: "5px solid #303030"
        };
      }
    }
  }
};
</script>


<style lang="scss">
.timer-view {
  .sprints {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    .sprint {
      width: 15px;
      height: 15px;
      background-color: #d6d6d6;
      border-radius: 50%;
    }

    .done {
      background-color: #cc5656;
    }
  }

  .clock {
    margin: 30px 0px;
    position: relative;
    .button {
      height: 235px;
      width: 235px;
      position: absolute;
      background-color: #404040;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 32px;
      left: 125px;
      top: 125px;
      transform: translate(-50%, -50%);
      border-radius: 50%;

      .state {
        font-size: 16px;
        margin-bottom: 10px;
      }
    }
  }

  .task {
    margin-top: 15px;
    font-size: 14px;
    background-color: #303030;

    input {
      background-color: #303030;
      border: none;
      border-bottom: 2px solid #404040;
      font-size: 14px;
      text-align: center;
      color: white;
    }
  }

  .status {
    i {
      margin: 0px 10px;
      &::before {
        font-size: 24px;
        color: white;
      }

      &:first-child {
        &::before {
          font-size: 28px;
        }
      }

      &.active {
        &::before {
          color: #18db69;
        }
      }
    }
  }

  .record-button {
    margin-top: 15px;
    padding: 10px;
    width: 100px;
    border: none;
    background-color: #404040;
    color: white;
    cursor: pointer;
  }
}
</style>
