    /*
    Flaticon icon font: Flaticon
    Creation date: 27/10/2018 14:34
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-runer-silhouette-running-fast:before { content: "\f100"; }
.flaticon-coffee:before { content: "\f101"; }
.flaticon-two-men-on-daily-job-break:before { content: "\f102"; }
.flaticon-multiply:before { content: "\f103"; }
.flaticon-menu:before { content: "\f104"; }
.flaticon-chronometer:before { content: "\f105"; }
.flaticon-settings-work-tool:before { content: "\f106"; }
    
    $font-Flaticon-runer-silhouette-running-fast: "\f100";
    $font-Flaticon-coffee: "\f101";
    $font-Flaticon-two-men-on-daily-job-break: "\f102";
    $font-Flaticon-multiply: "\f103";
    $font-Flaticon-menu: "\f104";
    $font-Flaticon-chronometer: "\f105";
    $font-Flaticon-settings-work-tool: "\f106";