	/*
  	Flaticon icon font: Flaticon
  	Creation date: 27/10/2018 14:34
  	*/

	@font-face {
	  font-family: "Flaticon";
	  src: url("./Flaticon.eot");
	  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
	    url("./Flaticon.woff") format("woff"),
	    url("./Flaticon.ttf") format("truetype"),
	    url("./Flaticon.svg#Flaticon") format("svg");
	  font-weight: normal;
	  font-style: normal;
	}

	@media screen and (-webkit-min-device-pixel-ratio:0) {
	  @font-face {
	    font-family: "Flaticon";
	    src: url("./Flaticon.svg#Flaticon") format("svg");
	  }
	}

	[class^="flaticon-"]:before,
	[class*=" flaticon-"]:before,
	[class^="flaticon-"]:after,
	[class*=" flaticon-"]:after {
	  font-family: Flaticon;
	  font-size: 20px;
	  font-style: normal;
	}

	.flaticon-runer-silhouette-running-fast:before {
	  content: "\f100";
	}

	.flaticon-coffee:before {
	  content: "\f101";
	}

	.flaticon-two-men-on-daily-job-break:before {
	  content: "\f102";
	}

	.flaticon-multiply:before {
	  content: "\f103";
	}

	.flaticon-menu:before {
	  content: "\f104";
	}

	.flaticon-chronometer:before {
	  content: "\f105";
	}

	.flaticon-settings-work-tool:before {
	  content: "\f106";
	}
